extends ../layout

block content
  .container
    .page-header
      h3 Editar usuario

    form.form-horizontal(action=`/admin/usuarios/${usuario._id}/editar`, method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-sm-3.control-label(for='name') Nombres
        .col-sm-7
          input.form-control(type='text', name='names', id='name', value=usuario.names)
      .form-group
        label.col-sm-3.control-label(for='name') Apellidos
        .col-sm-7
          input.form-control(type='text', name='surnames', id='name', value=usuario.surnames)    
      .form-group
        label.col-sm-3.control-label(for='email') Email
        .col-sm-7
          input.form-control(type='email', name='email', id='email', value=usuario.email)
           
      .form-group
        label.col-sm-3.control-label(for='website') Tipo de usuario
        .col-sm-7
          select.custom-select(name='type' value=usuario.type)
            if usuario.type == 1
              option(selected='' disabled) Administrador
              option(value='2') Alumno
              option(value='3') Profesor
            if usuario.type == 2
              option(selected='' disabled) Alumno
              option(value='1') Administrador
              option(value='3') Profesor
            if usuario.type == 3
              option(selected='' disabled) Profesor
              option(value='1') Administrador
              option(value='2') Alumno
      .form-group
        .col-sm-offset-3.col-sm-4
          button.btn.btn.btn-primary(type='submit')
            i.fa.fa-pencil
            | Guardar 

    .page-header
      h3 Cambiar contrase単a

    form.form-horizontal(action=`/admin/usuarios/${usuario._id}/contrasenia`, method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-sm-3.control-label(for='password') Nueva contrase単a
        .col-sm-7
          input.form-control(type='password', name='password', id='password')
      .form-group
        label.col-sm-3.control-label(for='confirmPassword') Confirmar contrase単a
        .col-sm-7
          input.form-control(type='password', name='confirmPassword', id='confirmPassword')
      .form-group
        .col-sm-offset-3.col-sm-4
          button.btn.btn-primary(type='submit')
            i.fa.fa-lock
            | Cambiar contrase単a
