
extends ../layout

block content
  .container
    .page-header
      .text-center
        br
        h3 Editar Curso
    
    br
    form.form-horizontal(action=`/admin/cursos/${curso._id}/editar`, method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      input#photolink(type="hidden" name="image" value=curso.image)
      .row
        .col-sm-7
          .form-group
            label.col-sm-12.control-label(for='name') Titulo 
            .col-sm-12
              input.form-control(type='text', name='title', id='name', value=curso.title)
          .form-group
            label.col-sm-12.control-label(for='name') E.A.P
            .col-sm-12
              select.custom-select(name='eap' value=curso.eap)
                if curso.eap == 1
                  option(selected='' disabled) Ingeniería de Sistemas
                  option(value= 2) Ingeniería de Software
                else
                  option(selected='' disabled) Ingeniería de Software
                  option(value= 1) Ingeniería de Sistemas
          .form-group
            label.col-sm-12.control-label(for='email') Ciclo
            .col-sm-12
              select.custom-select(name='cycle' value=curso.cycle)
                option(selected='' disabled) #{curso.cycle}
                option(value= 0) 0
                option(value= 1) 1
                option(value= 2) 2
                option(value= 3) 3
                option(value= 4) 4
                option(value= 5) 5
                option(value= 6) 6
                option(value= 7) 7
                option(value= 8) 8
                option(value= 9) 9
                option(value= 10) 10
          .form-group 
            label.col-sm-12.control-label(for='email') Descripcion
            .col-sm-12
              textarea#exampleFormControlTextarea1.form-control(rows='3' name='description') #{curso.description}
        .col-sm-5
          .form-group
            label.col-sm-12.control-label(for='email') Profesor asignado
            - var profe = curso.idTeacher.names +' '+ curso.idTeacher.surnames
            .col-sm-12
              select.custom-select(name='idTeacher' value=curso.idTeacher._id)
                option(selected='' disabled) #{profe}
                each profesor in profesores
                  option(value=profesor._id) #{profesor.names} #{profesor.surnames}
          .form-group
            .text-center
              a#uploadphoto(style='cursor: pointer')
                #photoactual.img-course-p(style=`background-image: url(${curso.image})`)
              label.col-sm-12.control-label Imagen del curso(click en la imagen para cambiar de foto)
          
      .form-group
        .col-sm-offset-3.col-sm-4
          button.btn.btn.btn-primary(type='submit')
            i.fa.fa-pencil
            | Guardar 