extends ../layout

block content
  .container
    br
    h1.text-center Lista de Usuarios
    hr
    .col-sm-12
      .text-center
        a.btn.btn-success.btn-lg(href='/admin/usuario/crear', role='button') Crear Usuario
    br
    .table-responsive.tamTabla
      table.table.table-striped.table-hover
        thead.bg-primary
          tr
            th(scope='col') #
            th(scope='col') Nombres
            th(scope='col') Apellidos
            th(scope='col') Email
            th(scope='col') Foto 
            th(scope='col') Tipo de Usuario
            th(scope='col') 
        tbody
          each usuario, index in usuarios
            tr
              th(scope='row') #{index + 1}
              td #{usuario.names}
              td #{usuario.surnames}
              td #{usuario.email}
              if usuario.profile.photo
                td
                  .img-user.rounded(style=`background-image: url(${usuario.profile.photo})`)
              else
                td
                  img.rounded(src=usuario.gravatar(100))     
              if usuario.type == 1
                td Administrador
              else if usuario.type == 2
                td Alumno
              else
                td Profesor
              td 
                a.btn.btn-primary(href=`/admin/usuarios/${usuario._id}`, role='button') Ver más
        
          

