extends ../layout

block content
  .container
    h1.text-center Lista de Usuarios
    hr
    .col-sm-4
      a.btn.btn-success(href='/admin/usuario/crear', role='button') Crear Usuario
    .table-responsive.tamTabla
      table.table.table-striped.table-hover
        thead.bg-primary
          tr
            th(scope='col') #
            th(scope='col') Nombres
            th(scope='col') Apellidos
            th(scope='col') Email
            th(scope='col') Foto 
            th(scope='col') Perfil de Aprendizaje Predominante
            th(scope='col') Tipo de Usuario
            th(scope='col') 
        tbody
          each usuario, index in usuarios
            tr
              th(scope='row') #{index + 1}
              td #{usuario.names}
              td #{usuario.surnames}
              td #{usuario.email}
              td
                img.img-responsive(src=usuario.profile.photo, class='profile', width='100', height='100')
              td ...
              if usuario.type == 1
                td Administrador
              else if usuario.type == 2
                td Alumno
              else
                td Profesor
              td 
                a.btn.btn-primary(href=`/admin/usuarios/${usuario._id}`, role='button') Ver más
        
          

