
extends ../layout

block content
  .container
    .page-header
      .text-center
        br
        h3 Detalle de usuario
        a.btn.btn-primary(href=`/admin/usuarios/${usuario._id}/editar`, role='button') Editar Usuario
    br
    .row
      .col-sm-7
        .form-group
          label.col-sm-12.control-label(for='name') Nombres
          .col-sm-12
            input.form-control(type='text', name='names', id='name', value=usuario.names readonly)
        .form-group
          label.col-sm-12.control-label(for='name') Apellidos
          .col-sm-12
            input.form-control(type='text', name='surnames', id='name', value=usuario.surnames readonly)    
        .form-group
          label.col-sm-12.control-label(for='email') Email
          .col-sm-12
            input.form-control(type='email', name='email', id='email', value=usuario.email readonly)
        .form-group
          label.col-sm-12.control-label Género
          .col-sm-6
            label.radio.col-sm-6
              input(type='radio', checked=usuario.profile.gender=='M', name='gender', value='M', data-toggle='radio' disabled)
              span Masculino
            label.radio.col-sm-6
              input(type='radio', checked=usuario.profile.gender=='F', name='gender', value='F', data-toggle='radio' disabled)
              span Femenino
        .form-group
          label.col-sm-3.control-label(for='website') Tipo de usuario
          .col-sm-12
            if usuario.type == 2
              input.form-control(type='text', name='type', id='', value='Alumno' readonly)
            if usuario.type == 3
              input.form-control(type='text', name='type', id='', value='Profesor' readonly)  
      .col-sm-5
        .form-group
          br
          .text-center
            if !usuario.profile.photo
              img.rounded(src=usuario.gravatar(100),  width='350', height='400')
            else  
              img.rounded(src=usuario.profile.photo, alt='Responsive image', width='350', height='400')
            label.col-sm-12.control-label Imagen de Perfil