
extends ../layout

block content
  .container
    .page-header
      .text-center
        br
        h3 Editar Perfil
    br
    form.form-horizontal(action='/perfil/editar', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      input#photolink(type="hidden" name="photo" value=user.profile.photo)
      .row
        .col-sm-7
          .form-group
            label.col-sm-12.control-label(for='name') Nombres
            .col-sm-12
              input.form-control(type='text', name='names', id='name', value=user.names)
          .form-group
            label.col-sm-12.control-label(for='name') Apellidos
            .col-sm-12
              input.form-control(type='text', name='surnames', id='name', value=user.surnames)    
          .form-group
            label.col-sm-12.control-label(for='email') Email
            .col-sm-12
              input.form-control(type='email', name='email', id='email', value=user.email)
          .form-group
            label.col-sm-12.control-label Género
            .col-sm-6
              label.radio.col-sm-6
                input(type='radio', checked=user.profile.gender=='M', name='gender', value='M', data-toggle='radio')
                span Masculino
              label.radio.col-sm-6
                input(type='radio', checked=user.profile.gender=='F', name='gender', value='F', data-toggle='radio')
                span Femenino
          .form-group
            label.col-sm-12.control-label(for='website') Tipo de usuario
            .col-sm-12
              if user.type == 1
                input.form-control(type='text', name='type', id='', value='Administrador' readonly)
              if user.type == 2
                input.form-control(type='text', name='type', id='', value='Alumno' readonly)
        .col-sm-5  
          .form-group
            br
            .text-center
              if !user.profile.photo
                a#uploadphoto(style='cursor: pointer')
                  img#photoactual.rounded(src=user.gravatar(), class='profile', width='350', height='400')
              else
                a#uploadphoto(style='cursor: pointer')
                  img#photoactual.rounded(src=user.profile.photo, class='profile', width='350', height='400')
              label.col-sm-12.control-label Imagen de Perfil (click en la imagen para cambiar de foto)
      .form-group
        .col-sm-offset-3.col-sm-4
          button.btn.btn.btn-primary(type='submit')
            i.fa.fa-pencil
            | Guardar 