

extends ../layout

block content
  .container
    .page-header
      .text-center
        h1 Chatbot - #{chatbot.name}
        a.btn.btn-primary(href=`/profesor/chatbots/${chatbot._id}/editar/informacion`, role='button') Editar info
    hr
    .row
      .col-sm-6
        .form-group
          label.col-sm-12.control-label(for='name') Nombre
          .col-sm-12
            input.form-control(type='text', name='name' value=chatbot.name readonly)
      .col-sm-6
        .form-group
          label.col-sm-12.control-label(for='name') Descripción 
          .col-sm-12
            textarea#exampleFormControlTextarea1.form-control(rows='3' name='description' readonly) #{chatbot.description}
    hr

    br
    .page-header
      .text-center
        h3 Lista de Intenciones
        a.btn.btn-primary(href=`/profesor/chatbots/${chatbot._id}/intencion/crear`, role='button') Crear intención
      br
      .table-responsive.tamTabla
        table.table.table-striped.table-hover
          thead.bg-primary
            tr
              th(scope='col') #
              th(scope='col') Id
              th(scope='col') Nombre
              th(scope='col')
          tbody
            each intencion, index in intenciones
              tr
                th(scope='row') #{index + 1}
                td #{intencion.idI}
                td #{intencion.displayName}
                td 
                  a.btn.btn-primary(href=`/profesor/chatbots/${chatbot._id}/intencion/${intencion.idI}/editar`, role='button') Editar intención
                
