
extends ../layout

block content
  .container-fluid
    h1.text-center Lista de Chatbots
    hr
    //.col-sm-12
      a.btn.btn-info.btn-lg.btn-block.active(href='/profesor/chatbot/crear', role='button' aria-pressed='true') Crear Chatbot
      
    br  
    .table-responsive.tamTabla
      table.table.table-striped.table-dark
        thead
          tr
            th(scope='col') #
            th(scope='col') Chatbot
            th(scope='col') Descripción
            th(scope='col') Curso
            th(scope='col') Fecha de creación
            th(scope='col') 
        tbody
          each chatbot, index in chatbots
            tr
              th(scope='row') #{index + 1}
              td #{chatbot.name}Bot
              td #{chatbot.description}
              td #{chatbot.course.title}
              td #{moment(chatbot.createdAt).format('L')}
              if chatbot.name
                td 
                  a.btn.btn-primary(href=`/profesor/chatbots/${chatbot._id}`, role='button') Ver más
              else   
                td 
                  a.btn.btn-primary(href=`/profesor/chatbots/${chatbot._id}/editar`, role='button') Editar