
extends ../layout

block content
  .container
    h1.text-center Lista de Cursos Asignados
    .col-sm-12
      a.btn.btn-secondary.btn-lg.btn-block.active(href='/profesor/curso/crear', role='button', aria-pressed='true') Crear Curso
    br
    hr
    .table-responsive.tamTabla
      table.table.table-striped.table-hover
        thead.bg-primary
          tr
            th(scope='col') #
            th(scope='col') Título del Curso
            th(scope='col') E.A.P
            th(scope='col') Ciclo
            th(scope='col') Imagen
            th(scope='col') 
        tbody
          each curso, index in cursos
            tr
              th(scope='row') #{index + 1}
              td #{curso.title}
              if curso.eap == 1
                td Ingeniería de Sistemas
              else
                td Ingeniería de Software
              td #{curso.cycle}
              td
                img.img-responsive(src=curso.image, class='profile', width='100', height='100')
              td 
                a.btn.btn-primary(href=`/profesor/cursos/${curso._id}`, role='button') Ver más