
extends ../layout

block content
  .container
    h1.text-center Lista de Cursos Asignados
    .col-sm-12
      a.btn.btn-secondary.btn-lg.btn-block.active(href='/profesor/curso/crear', role='button', aria-pressed='true') Crear Curso
    br
    hr
    .table-responsive.tamTabla
      table.table.table-striped.table-hover
        thead.bg-primary
          tr
            //th(scope='col') #
            th(scope='col') Título del Curso
            th(scope='col') E.A.P
            th(scope='col') Ciclo
            th(scope='col') Imagen
            th(scope='col') 
            th(scope='col') 
        tbody
          each curso in cursos
            tr
              //th(scope='row') #{index + 1}
              td #{curso.title}
              if curso.eap == 1
                td Ingeniería de Sistemas
              else
                td Ingeniería de Software
              td #{curso.cycle}
              td
                .img-course.rounded(style=`background-image: url(${curso.image})`)
              td 
                a.btn.btn-primary(href=`/profesor/cursos/${curso._id}`, role='button') Ver más
              td 
                a.btn.btn-primary(href=`/profesor/chatbots/${curso.idChatbot}/conversar`, role='button') Chatbot