
extends ../layout

block content
  .container
    h1.text-center Curso - #{curso.title}
    hr
    .row
      .col-sm-7
        .form-group
          label.col-sm-12.control-label(for='name') Titulo 
          .col-sm-12
            input.form-control(type='text', name='title', id='name', value=curso.title readonly)
        .form-group
          label.col-sm-12.control-label(for='name') E.A.P
          .col-sm-12
            if curso.eap == 1
              input.form-control(type='text', name='eap', id='name', value='Ingeniería de Sistemas' readonly)   
            else
              input.form-control(type='text', name='eap', id='name', value='Ingeniería de Software' readonly)      
        .form-group
          label.col-sm-12.control-label(for='email') Ciclo
          .col-sm-12
            input.form-control(type='text', name='cycke', id='email', value=curso.cycle readonly)
        .form-group 
          label.col-sm-12.control-label(for='email') Descripcion
          .col-sm-12
            textarea#exampleFormControlTextarea1.form-control(rows='3' name='description' disabled) #{curso.description}

      .col-sm-5
        .form-group
          label.col-sm-12.control-label(for='email') Profesor asignado
          - var profe = curso.idTeacher.names +' '+ curso.idTeacher.surnames
          .col-sm-12
            input.form-control(type='text', name='cycke', id='email', value=profe readonly)
        .form-group
          label.col-sm-12.control-label Imagen del curso
          .col-sm-12
            .text-center
              img.rounded(src=curso.image, class='profile', width='250', height='250')

    br
    br
    .page-header
      h2.text-center Lista de Grupos
      hr
      br
      each grupo, index in grupos
        h4.text-center Grupo #{index + 1}
        if matricula
          if matricula.idCourse = curso._id
            h5.text-center Ya esta matriculado 
          else
            .text-center
              button.btn.btn-success(type='button', data-toggle='modal', data-target='#exampleModalCenter'+grupo._id)
                | Matricularse
            // Modal
            .modal.fade(id='exampleModalCenter'+grupo._id tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
              .modal-dialog.modal-dialog-centered(role='document')
                .modal-content
                  .modal-header
                    h5#exampleModalCenterTitle.modal-title Descripción de la Matricula
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                  .modal-body
                    | Curso: #{curso.title}
                    br
                    | Profesor: #{profe}
                    br
                    | Grupo: #{grupo.title}
                  .modal-footer
                    button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
                    a.btn.btn-primary(href=`/alumno/cursos/${curso._id}/grupos/${grupo._id}/matricularse`, role='button') Confirmar Matricula
        else
          .text-center
            button.btn.btn-success(type='button', data-toggle='modal', data-target='#exampleModalCenter'+grupo._id)
                | Matricularse
          // Modal
          .modal.fade(id='exampleModalCenter'+grupo._id tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
            .modal-dialog.modal-dialog-centered(role='document')
              .modal-content
                .modal-header
                  h5#exampleModalCenterTitle.modal-title Descripción de la Matricula
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                  | Curso: #{curso.title}
                  br
                  | Profesor: #{profe}
                  br
                  | Grupo: #{grupo.title}
                .modal-footer
                  button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
                  a.btn.btn-primary(href=`/alumno/cursos/${curso._id}/grupos/${grupo._id}/matricularse`, role='button') Confirmar Matricula
        br
        .row
          .col-sm-5
            .form-group
              label.col-sm-12.control-label(for='name') Titulo 
              .col-sm-12
                input.form-control(type='text', name='title', id='name', value=grupo.title readonly)
            .form-group
              label.col-sm-12.control-label(for='name') Descripción 
              .col-sm-12
                textarea#exampleFormControlTextarea1.form-control(rows='3' name='description' disabled) #{grupo.description}
          .col-sm-7
            .form-group    
              .label.col-sm-6.control-label(for='name') Lista de Alumnos
              if grupo.students.length > 0
                .table-responsive.tamTabla
                  table.table.table-striped.table-hover
                    thead.bg-primary
                      tr
                        th(scope='col') #
                        th(scope='col') Nombres
                        th(scope='col') Apellidos
                        th(scope='col') Foto de Perfil
                    tbody
                      each alumno, index in grupo.students
                        tr
                          th(scope='row') #{index + 1}
                          td #{alumno.names}
                          td #{alumno.surnames}
                          td 
                            img.rounded(src=alumno.profile.photo, class='profile', width='100', height='100')
              else
                br
                h4.text-center No hay alumnos matriculados en este grupo